In [9]:
#project 2 df category.ipynb

import pandas as pd

# Specify the columns you want to extract and the desired order
selected_columns = ['category_id', 'category']

# Read the selected columns from the CSV file into a new DataFrame
category = pd.read_csv(r'C:\Users\soone\Crowdfunding_ETL\crowdfunding_data.csv', usecols=selected_columns)
category = category[['category_id', 'category']]

category

    category_id    category
0          cat1        food
1          cat2       music
2          cat3  technology
3          cat2       music
4          cat4     theater
..          ...         ...
995        cat1        food
996        cat4     theater
997        cat4     theater
998        cat2       music
999        cat1        food

[1000 rows x 2 columns]

In [10]:
category.to_csv(r'C:\Users\soone\Crowdfunding_ETL\category.csv', index=False)